@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --color-personality: #044e73;
}

@layer base {
  body {
    background-color: #111317;
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .nav-link {
    @apply
      relative inline-block
      transition-all duration-500
      hover:text-cyan-600
      hover:-translate-y-1

      after:content-['']
      after:absolute
      after:left-0
      after:-bottom-1
      after:h-0.5
      after:w-0
      after:bg-cyan-600
      after:transition-all
      after:duration-500

      hover:after:w-full;
  }

  .tech-icon {
    @apply
      w-24
      transition-transform
      duration-300
      ease-in-out
      hover:-translate-y-2.5;
  }
  .gradient-title {
  background: linear-gradient(90deg, #979393 40%, #434344 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

}
